@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap");
* {
	font-family: "Oswald", sans-serif;
}
.hero {
	background-image: url("../img/sumaid-pal-singh-bakshi-EJwOed3PmmQ-unsplash.jpg");
	background-position: center bottom;
	background-size: cover;
}
.hero_heading {
	padding: 200px 0;
	color: white;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 20px;
	text-shadow: 3px 3px 1px rgb(255 255 255 /0.2);
}
.hero_heading span {
	display: block;
	font-weight: 400;
}
